body {
  padding-top: 50px;
}
#rang-nav {
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-all;
  padding-left: 0;
  padding-right: 0;
}
#rang-nav > ul {
  width: 100%;
}
#rang-main {
  height: 600px;
  overflow: auto;
  padding-top: 10px;
}
footer {
  display: none;
}
.mw-editsection {
  font-size: 50%;
}
#rang-right {
  float: right;
  width: 226px;
  margin-left: 1em;
}
#rang-thumb {
  border: 1px solid #ccc;
  padding: 3px;
}
#rang-iu:empty {
  display: none;
}
#rang-iu::before {
  content: 'Penggunaan berkas';
  font-size: 2em;
}
#rang-reason {
  width: auto;
  display: inline-block;
  vertical-align: bottom;
}
